.list {
    position: relative;
  }
  .list h2 {
    color: #fff;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 7px;
    font-size: 32px;
  }
  
  .list ul {
    position: relative;
  }
  
  .list ul li {
    position: relative;
    left: 10;
    color: #fce4ec;
    list-style: none;
    margin: 4px 0;
    border-left: 4px solid #f50057;
    transition: 0.5s;
    cursor: pointer;

  }
  
  .list ul li:hover {
    left: 10px;
  }
  
  .list ul li span {
    position: relative;
    padding: 8px;
    padding-left: 10px;
    display: inline-block;
    z-index: 1;
    transition: 0.5s;
  }
  
  .list ul li:hover span {
    color: #111;
  }
  
  .list ul li:before {
    content: "";
    position: absolute;
    width: 70%;
    height: 100%;
    background: #f50057;
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.5s;
  }
  
  .list ul li:hover:before {
    transform: scaleX(1);
  }
  .box {
    width: 300px;
    border-bottom: 20px solid #03a9f4;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 400px; /* Устанавливаем ширину списка */
    margin: 0 auto; /* Центрируем список по горизонтали */
    text-align: left; /* Выравниваем текст внутри списка по левому краю */
  }
  .box h2 {
    color: #fff;
    background: #03a9f4;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: 700;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .box ul {
    position: relative;
    background: #fff;
  }
  .box ul:hover li {
    opacity: 0.2;
  }
  .box ul li {
    list-style: none;
    padding: 10px;
    width: 100%;
    background: #fff;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s;
    padding-left: 0px; /* Устанавливаем отступ слева */
  }
  .box ul li:hover {
    transform: scale(1.1);
    z-index: 5;
    background: #25bcff;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    color: #fff;
    opacity: 1;
  }
  .box ul li span {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background: #25bcff;
    color: #fff;
    display: inline-block;
    border-radius: 50%;
    margin-right: 5px;
    font-size: 12px;
    font-weight: 800;
    transform: translateY(-2px);
  }
  .box ul li:hover span {
    background: #fff;
    color: #25bcff;
  }