html {
  background-image: url(../img/1619166244_4-phonoteka_org-p-anime-fon-kafe-5.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  
}
h2{
    color: rgb(255, 255, 255);
    text-indent: 25px;
}
a:link {
    color: #497DDD; 
    border-bottom: 1px dashed;
    font-size: 18px; 
  }
  a:visited {
    color: #a446be;
  }
  a:hover {
    color: #154088; 
    border-bottom: .07em solid;
  }
  a:active {
    color: #497DDD; 
    border-bottom: 1px dashed;
  }
  .s2:hover {
    color: #ffffff;
    box-shadow: 0 1px 0 white, 0 2px 0 #969696;
    font-size: 24px;
  }
  
.div1 {

    width: 65%; /* Процент ширины блока */
    margin: 0 auto; /* Центрирование блока по горизонтали */
    background-color: #000000b4;


}

H1 {
  display: inline-block;
  position: relative;
  letter-spacing: .05em;
  font-size: 40px;
  cursor: pointer;
  text-shadow: 1px 1px mediumturquoise,
               -1px 1px mediumturquoise,
               -1px -1px mediumturquoise,
               1px -1px mediumturquoise;
  color: white;
  transition: all 1s;
  text-align: center; /* Центрирование текста */
  width: 100%; /* Ширина на всю ширину контейнера */
}

  H1:before {
    content: "";
    position: absolute;
    top: -5px;
    right: -15px;
    bottom: -15px;
    left: 0;
    z-index: -1;
    background: linear-gradient(-45deg,
      rgba(72, 209, 204, 0) 2px,
      mediumturquoise 3px,
      rgba(72, 209, 204, 0) 3px ) repeat;
    background-size: 3px 3px;
    
    }
  H1:hover {
    color: lemonchiffon;
    }
    .H1:hover:before {
      animation: 5s move_lines infinite linear;
      }
    H1:hover:after {
      color: lemonchiffon;
      text-shadow: 1px 1px lemonchiffon,
        2px 2px lemonchiffon,
        3px 3px lemonchiffon,
        4px 4px lemonchiffon;
      }
      p{
        color: rgb(255, 255, 255);
        text-indent: 25px;
        font-size: 20px;
    }
      br{
        text-indent: 25px;
        font-size: 20px;
      }
      .container {
        display: flex;
      }
      
      .column {
        flex: 1;
        margin: 0px; /* Добавим немного отступа между колонками */
      }
      .s1{
        font-size: 18px;
        color: rgb(255, 255, 255);
      } 
       /* text-field */
    .text-field {
      margin-bottom: 1rem;
    }

    .text-field__label {
      display: block;
      margin-bottom: 0.25rem;
      color: #f5f5f5;
    }

    .text-field__input {
      display: block;
      width: 80%;
      height: calc(2.25rem + 2px);
      padding: 0.375rem 0.75rem;
      font-family: inherit;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #212529;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #bdbdbd;
      border-radius: 0.25rem;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .text-field__input::placeholder {
      color: #212529;
      opacity: 0.4;
    }

    .text-field__input:focus {
      color: #212529;
      background-color: #fff;
      border-color: #bdbdbd;
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
    }

    .text-field__input:disabled,
    .text-field__input[readonly] {
      background-color: #f5f5f5;
      opacity: 1;
    }
    #music{
    color: #00ffb3;
    }